javascript:
  googletag.cmd.push(function() {
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/Speciale_Kyocera_132582/MaxTicker', [[990, 30], [990, 250]], 'div-gpt-ad-MaxTicker').addService(googletag.pubads());
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/Speciale_Kyocera_132582/MPU_Middle', [300, 251], 'div-gpt-ad-MPU_Middle').addService(googletag.pubads());
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/Speciale_Kyocera_132582/MPU_Top', [[300, 250], [300, 600]], 'div-gpt-ad-MPU_Top').addService(googletag.pubads());
    googletag.defineOutOfPageSlot('/57491254/sole24ore.com/Speciali_minisiti/Speciale_Kyocera_132582/Overlay', 'div-gpt-ad-Overlay').addService(googletag.pubads());
    googletag.defineSlot('/57491254/sole24ore.com/Speciali_minisiti/Speciale_Kyocera_132582/Top', [[1, 1], [728, 90], [320, 50]], 'div-gpt-ad-Top').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();
  });
