= partial "partials/logo"
= partial "partials/hero"
- first_article = data.articles.article[0]
= partial "partials/leftside", locals: { article: first_article }
- data.sections.groups.each do |section|
  - case section.section
  - when "Second"
    = partial "partials/rightside", locals: { article: section }
= partial "partials/one"
= partial "partials/two"
= partial "partials/three"
