.menu
  color: $white
  background: $dark-grey

.menu__body
  display: table
  width: 100%
  text-align: center

.menu__body__inner
  +vertical-padding(0.7)
  +font-size(delta)
  +heading-font-family
  text-transform: uppercase

  a
    text-decoration: none
    color: $white

.menu__nav
  +horizontal-padding(0.5)

a

  .menu__nav

    &:hover
      text-decoration: underline

.menu__tab
  cursor: pointer

.menu__tab__item

  &:before
    content: "\2630"
    +margin-right(0.5)

.menu__lap
  display: none

.menu__mobile
  +margin-top(1)
  display: none

  &.is-open
    display: block

.menu__mobile__item
  +vertical-padding(1)

+at-breakpoint(lap)
  .menu__lap
    display: block

  .menu__tab
    display: none

  .menu__mobile
    display: none
